@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600&display=swap');

.logo-alura {
  margin-left: 10px;
  padding-top: 10px;
  width: 2%;
}

main {
  display: flex;
  margin-bottom: 50px;
  margin-left: 80px;
}

.text-area {
  background-color:#FAF0E6;
  color:#5C5470;
  text-align: center;
  margin-top: 90px;
  border: none;
  border-radius: 1.4rem;
  text-transform: lowercase;
}

::placeholder { color: #FAF0E6; }
  .text-area:focus {
    outline: none;
  }

.message-area {
  background: #FAF0E6;
  background-image: url(/assets/images/tema.png);
  background-repeat: no-repeat;
  border: none;
  border-radius: 24px;
  color: #5C5470;
  margin-left: 98px;
  margin-top: 20px;
  padding-left: 20px;
  position: fixed;
}

.message-area:focus {
  outline: none;
}

.buttons {
  display: flex;
  margin-top: 18px;
}

.btn-encrypt {
  background-color: #B9B4C7;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  height: 67px;
  margin-left: 30px;
  width: 328px;
}

.btn-encrypt:hover {
  background-color: #5C5470;
}

.btn-decrypt {
  background-color: #B9B4C7;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  height: 67px;
  margin-left: 30px;
  width: 328px;
}

.btn-decrypt:hover {
  background-color: #5C5470;
}

.btn-copy {
  background-color: #B9B4C7;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  height: 67px;
  position: relative;
  margin-top: 550px;
  margin-left: 135px;
  width: 336px;
}

.btn-copy:hover {
  background-color: #5C5470;
}

.information {
  color: #B9B4C7;
  font-size: 18px;
}